<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bienvenue</title>

</head>
<body style="">
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">SEBO</h3>
						<nav class="nav nav-masthead">
							<!--
							<a class="nav-link active" href="#">Home</a> 
							<a class="nav-link" href="#">Features</a> <a class="nav-link" href="#">Contact</a>
							--->
						</nav>
					</div>
				</div>
				<div class="inner cover">
					<h1 class="cover-heading">Bienvenue-vous chez SEBO.</h1>
					<p class="lead">Découvrez, achetez la musique de vos artistes
						préférés sur SEBO.</p>
					<a class="btn btn-primary btn-lg" href="#" role="button">Identifiez-Vou</a>
					<a class="btn btn-primary btn-lg" href="#" role="button">Inscrivez-Vous</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>